{%load static%}
<div class="carrusel">
    </head>

    <body>
        <!-- Swiper -->
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="width: 1500px;height: 500px;"><img src="{% static 'img/fotos_bosque.jpg'%}" alt="">
                </div>
                <div class="swiper-slide" style="width: 1500px;height: 500px;"><img src="{% static 'img/Atardecer_Laguna_el_Oconol.jpg'%}" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- Swiper JS -->
        <script src="{% static 'js/swiper-bundle.min.js'%}"></script>
        <script src="{%static 'js/script.js' %}"></script>
</div>