{% load static %}
<div class="prin_supe">
    <div class="card">
        <h1>Cultura Peruana</h1>
        <a href=""><img src="{% static 'img/cultura_peruana.jpg'%}" alt=""></a>
    </div>
    <div class="card">
        <h1>Eventos Turisticos</h1>
        <a href=""><img src="{% static 'img/negrito_de_vicco.jpg'%}" alt=""></a>
    </div>
    <div class="card">
        <h1>Paquetes Turisticos</h1>
        <a href=""> <img src="{% static 'img/card3.jpg'%}" alt=""></a>
    </div>
    <div class="card">
        <h1>Promociones Turisticas</h1>
        <a href=""><img src="{% static 'img/card4.jpg'%}" alt=""></a>
    </div>
</div>